# 주석

- 주석의 의의

    - 사람만 알아 볼 수 있도록 작성하는 부분
    
    - 주석은 파이썬이 실행하지 않고 코드에 영향을 주지 않음
    - 일반적으로 코드에 대한 자세한 설명을 작성하거나, 특정코드를 임시로 사용하지 않도록 처리할 때 사용

## 한줄 주석

In [3]:
# Hello World! 출력
print("Hello World!")

Hello World!

### 코드 뒤 주석

In [4]:
print("hello world!") # Hello, word! 출력

hello world!

## 블록 주석

In [7]:
#  CTRL + / 로 여러줄 주석
# print("Hello World!")
# print("123456")

# 변수

- 데이터를 저장하고 나중에 재사용하기위해서 사용
    
- 표현법
    - 변수이름 = 값
        
- 변수명 규칙
    - 반드시 문자로 시작해야함
    - 언더바(_)로는 시작 할 수 있음
    - 영문 문자와 숫자를 사용할 수 있음
    - 대소문자를 구분
    - 특수문자 사용 불가
    - 파이썬 키워드 (if, for, while, and, or 등)은 사용 불가

In [11]:
# 변수 생성
name = "Alice"         # 한 줄 문자열
age = 25              # 정수
address = '''우편번호 12345 
서울 마포구'''        # 여러 줄 문자열
boyfriend = None     # 아무 값도 아님
height = 168.5       # 실수

In [12]:
print(name)
print(age)
print(address)
print(boyfriend)
print(height)

Alice
25
우편번호 12345
서울 마포구
None
168.5

## 변수 여러개를 한번에 만들기

In [13]:
x, y, z = 10, 20, 30

In [14]:
print(x)
print(y)
print(z)

10
20
30

In [17]:
x = y = z = 10

In [18]:
print(x)
print(y)
print(z)

10
10
10

## 사칙연산

In [19]:
# 덧셈
print(1+1)

#뺄셈
print(1-2)

# 곱셈
print(2*2)

#나눗셈
print(5/2)

2
-1
4
2.5

In [20]:
# 나눗셈의 몫
print(5//2)

2

In [21]:
# 나눗셈의 나머지
print(5%2)

1

In [23]:
# 거듭제곱
print(2 ** 10)

1024

## 변수 계산

In [24]:
a = 10
b = 20
print(a+b)

30

In [26]:
c = a+b # 우변항부터 계산됨
print(c)

30

## 연산 후 할당

In [31]:
# 할당 연산자를 사용하지 않으면 계산 결과를 유지하지 않음
a = 10
print(a+20)
print(a)

30
10

In [32]:
a = a+20 
print(a)

30

In [33]:
# 연산 후 할당은 += 로도 표현가능
a = 10
a += 20 # a= a + 20 과 같은 코드
print(a)

30