# 기본 자료형

|구분|자료형|변환 함수|의미|
|:--|:--|:--|:--|
|int|정수|int(n)|n을 정수로 변환|
|float|실수|float(n)|n을 실수로 변환|
|boll|논리|boll(n)|n을 논리로 변환|
|str|문자열|str(n)|n을 문자열로 변환|

## 정수(int)

In [1]:
age= 25
print(type(age))

<class 'int'>

### 다른 자료형의 값을 정수형 데이터로 변환

In [3]:
print(int(1.9))
print(int(True))
print(int(False))
print(int("100"))

1
1
0
100

## 실수(FLOAT)

In [4]:
height=168.5
print(type(height))

<class 'float'>

### 다른 자료형의 값을 실수형 데이터로 변환

In [5]:
print(float(1))
print(float(True))
print(float(False))
print(float("3.14"))
print(float("100"))

1.0
1.0
0.0
3.14
100.0

## 논리(bool)


- 참과 거짓을 표현하는  True, False 값을 가짐

In [6]:
print(bool(0))    # 0이면 False
print(bool(""))   # 공백이면 False

False
False

In [10]:
print(bool(1))
print(bool(22))
print(bool(-3))
print(bool("hello"))

True
True
True
True

### 비교 연산자의 판단 결과

In [11]:
print(3 > 1)
print(3 < 1)

True
False

### 같은지 다른지 비교

In [14]:
# 같은지 비교
print(10 == 10) # ==는 동등비교
print(10 == 12)

True
False

In [16]:
# 다른지 비교
print(10 != 10) # != 다르냐고 물어 보는 거
print(10 != 15)

False
True

In [17]:
print("Python" == "Python")
print("Python" == "python")    # 대소문자 구분 함

True
False

## 문자열(str)

- 기본적으로 따옴표로 묶어서 표현
- 작은 따옴표와 큰 따옴표 모두 사용 가능
- 삼중 따옴표(''' ''',""" """ )도 사용 가능

In [18]:
name =  "Alice"
print(type(name))

<class 'str'>

### 문자열 변환

In [20]:
print(str(100))
print(str(True))
print(str(False))
print(str(3.14))      # 숫자로 보여도 다 문자열임

100
True
False
3.14

### 문자열 인덱싱(indexing)

- 문자열 인덱스 : 문자열을 구성하는 모든 문자에 부여한 고유 번호
- 인덱스 시작 번호는 0임

In [21]:
s= "hello"

In [22]:
print(s[0])   # hello  
                01234
                (-5)(-4)(-3)(-2)(-1) 순서

h

In [23]:
print(s[-1])

o

In [24]:
print(s[4] == s[-1])

True

### 문자열 슬라이싱(slicing)

- 표현법 : 데이터[시작인덱스 : 종료 인덱스 : 증감값]
    - 대부분 증감값은 생략하고 [시작 인덱스 : 종료 인덱스] 의 형태로 사용

In [31]:
s = "banana"  
s[0:3]  # 슬라이싱에서 종료 인덱스 값은 포함하지 않음

'ban'

In [32]:
s[0:3:2]

'bn'

# 실습 

1. 휴대폰 번호 가운데 4자리를 추출
2. 31025 를 학년 반 번호로 나누어 출력

In [ ]:
# 1. 
number = "010-1234-5678"

In [48]:
s = "010-1234-5678"
s[4:8]

'1234'

In [52]:
# 2. 
q2 =  "31025"

In [55]:
grade = q2[0]
group = q2[1:3]
no = q2[3:5]

In [56]:
 print(grade, "학년", group, "반", no, "번")

3 학년 10 반 25 번