# 사용자 함수

- 인수 : 사용자 함수에 전달할 입력 ,  argument
- 매개변수 ; 인수를 받아서 저장하는 변수 , parameter
- 반환값 : 사용자 함수의 출력 , return
- 함수 호출 : 만들어진 함수를 실제로 사용하는것

In [ ]:
## 함수 정의

```
def 함수이름(매개변수) :
    실행문
    return 반환값
```

In [6]:
# welcome 함수 정의 
def welcome():
    print("Hello!")
    print("Nice to meet you")

In [8]:
welcome()

Hello!
Nice to meet you

## 함수 사용의 장점

- 코드의 용도를구분
- 코드 재사용이 용이
- 실수를 방지 (오타 등)

## 인수와 매개변수

- 인수와 매개변수는 다른 개념이지만 함수가 호출된 뒤에는 구분이 모호해지므로 구분하지 않는 경우도 많음

### 인수가 있는 함수

In [9]:
def introduce(name, age) :   # 매개변수 : name, age
    print(f"내 이름은 {name}이고, 나이는 {age}살 입니다.")

In [11]:
introduce()  # 2개의 atguments (인수)가 필요하다는 에러

TypeError: introduce() missing 2 required positional arguments: 'name' and 'age'

In [12]:
introduce("jun", 25)

내 이름은 jun이고, 나이는 25살 입니다.

### 가변 매개변수

- 함수로 전달해야 하는 인수의 개수가 정해지지 않은 매개변수
- 함수 정의시 매개변수 앞에 * 를 붙이면 가변 매개변수가 됨
- 전달되는 인수는 하나의 튜플 형태로 전달

In [13]:
def show(*args) : 
    print(args)

In [15]:
show("Python")

('Python',)

In [16]:
show("happy", "birthday")

('happy', 'birthday')

### 디폴트 매개변수

-매개변수로 전달되는 인수가 없는 경우에 기본적으로 사용하는값

In [23]:
def greet (message = "안녕하세요") :
    print(message)

In [24]:
greet()

안녕하세요

In [25]:
greet("반가워")

반가워

#### 디폴트 매개변수의 위치

- 초기값이 지정된 매개변수 다음에는 초기값없는 매개변수가 올 수 없음
- 함수를 호출할 때 인수가 어디에 배치되어야 할지 알 수가 없기 때문에

In [28]:
def info(name, address = "비공개", age):
    print(f"이름은 {name}나이는{age }주소는{address}")
    
info("홍길동", 30)

SyntaxError: non-default argument follows default argument (3828118846.py, line 1)

In [32]:
def info(name, age, address = "비공개"):
    print(f"이름은 {name} 나이는{age } 주소는{address}")
    
info("홍길동", 30)

이름은 홍길동 나이는30 주소는비공개

## 반환값

- 함수 호출의 결과
- return 문을 통해 반환값 설정 가능

### 반환값이 있는 함수

In [35]:
def address():
    str1 = "우편번호 12345"
    str1 = str1 + "서울시 마포구"

In [36]:
print(address())

None

In [37]:
def address():
    str1 = "우편번호 12345"
    str1 = str1 + "서울시 마포구"
    return str1

In [38]:
print(address())

우편번호 12345서울시 마포구

In [39]:
print(address())

우편번호 12345서울시 마포구

### 다중반환

- 하나의 반환값 뿐만 아니라 여러개의 반환값도 처리 가능

In [40]:
def calculator(*args):
    return sum(args)

In [41]:
calculator(1,2,3,4,5)

15

In [42]:
def calculator(*args):
    return sum(args), sum(args)/len(args), max(args), min(args)

In [43]:
calculator(1,2,3,4,5)

(15, 3.0, 5, 1)

In [44]:
result = calculator(1,2,3,4,5)

In [45]:
result

(15, 3.0, 5, 1)

In [47]:
print("합계 : ", result[0])
print("평균 : ", result[1])
print("최대 : ", result[2])
print("최소 : ", result[3])

합계 :  15
평균 :  3.0
최대 :  5
최소 :  1

In [48]:
plus, mean, maximum, minimum = calculator(1, 2, 3, 4, 5)
print("합계 : ", plus)
print("평균 : ", mean)
print("최대 : ", maximum)
print("최소 : ", minimum)

합계 :  15
평균 :  3.0
최대 :  5
최소 :  1

# 지역변수와 전역변수

## 지역변수
- 함수 내부에서 선언한 변수는 함수 내분에서만 사용 할 수 있는 변수가 됨
- 함수 외부에서는 지역변수에서 접근 할 수 없음

In [49]:
def f():
    a = 10
    print(a)

In [50]:
f()

10

In [51]:
print(a)

NameError: name 'a' is not defined

## 전역변수

- 함수 외부에서 선언한 변수
- 전역변수는 함수 내부에서도 사용 가능

In [52]:
b = 10

In [53]:
def f():
    print(b)

In [55]:
f()

10

- 전역변수를 함수 내부에서 사용하는 2가지 경우
    - 단순 참조
    - 전역변수의 값을 변경

In [56]:
# 전역변수의 값을 변경
a = 0

In [57]:
def f():
    a = 10
    print(a)

In [58]:
f()

10

In [59]:
a

0

In [60]:
def f():
    global a # 전역변수 a를 사용하겠다
    a = 10
    print(a)

In [61]:
f()

10

In [62]:
a

10

### 딕셔너리 인수

In [63]:
def info(name, age, address):
    print("name 변수는", name)
    print("age 변수는", age)
    print("adress 변수는", address)
    print()
    print(f"이름은 {name}, 나이는 {age}, 주소는 {address}")

In [65]:
info("홍길동", 30, "서울시 마포구")

name 변수는 홍길동
age 변수는 30
adress 변수는 서울시 마포구

이름은 홍길동, 나이는 30, 주소는 서울시 마포구

In [66]:
x = {"name" : "홍길동",
    "age" : 30,
    "address" : "마포구"}

In [67]:
info(**x)

name 변수는 홍길동
age 변수는 30
adress 변수는 마포구

이름은 홍길동, 나이는 30, 주소는 마포구

In [68]:
# 매개변수 이름과 딕셔너리의 키가 다르면 에러가 발생
def info(name, old, address):
    print("name 변수는", name)
    print("old 변수는", old)
    print("adress 변수는", address)
    print()
    print(f"이름은 {name}, 나이는 {old}, 주소는 {address}")

In [69]:
info(**x)

TypeError: info() got an unexpected keyword argument 'age'

In [70]:
# *을 하나만 쓰면 x 딕셔너리의 키가 출력됨
info(*x)

name 변수는 name
old 변수는 age
adress 변수는 address

이름은 name, 나이는 age, 주소는 address

### 키워드 인수를 사용하는 가변 인수 함수

In [71]:
def info(**kwargs):
    for kw, arg in kwargs.items():
        print(kw, ":",arg)

In [72]:
info("홍길동")

TypeError: info() takes 0 positional arguments but 1 was given

In [74]:
info(name = "홍길동", age = 30, address = "부산시")

name : 홍길동
age : 30
address : 부산시