# 자료형

- 자료(data) : 프로그램이 처리할 수 있는 모든 것
- 자료형(data type) : 자료를 개발자들이 쉽게 사용할 수 있도록 기능과 역할에 따라서 구분한 종류
    - 문자열(string) : 메일 제목, 메시지 내용 등
        - 예) "안녕하세요", "Hello, World!"
    - 숫자 (number) : 물건의 가격, 학생의 성적 등
        - 예) 52, 273, 103.32
    - 불 (boolean) : 사용자의 로그인 상태 등
        - 예) True, False

## 숫자 자료형

- 숫자 자료형의 종류
    - 정수형(integer) : 소수점이 없는 숫자
        - 예) 0, 1, 273, -53
    - 실수형(floating point) : 소수점이 있는 숫자
        - 예) 0.0, 52.573, -1.2

- 주의점
    - 0과 0.0은 같은 크기를 표현하지만 소수점의 여부에 따라 숫자의 자료형이 달라짐

### 정수형(integer)

In [1]:
a = 123
b = -178
c = 0
print(a)
print(b)
print(c)

# type() : 자료형 확인하기
# type 함수의 괄호 네부에 자료를 넣으면 그 자료가 어떤 자료형을 가지고 있는지 확인
print(type(a))
print(type(b))
print(type(c))

123
-178
0
<class 'int'>
<class 'int'>
<class 'int'>

## 실수형(Floating-point)

In [2]:
a = 1.2
b = -3.45

print(a)
print(b)
print(type(a))
print(type(b))

1.2
-3.45
<class 'float'>
<class 'float'>

### 실수형의 지수 표현 방식

In [4]:
a = 4.24e4
b = 4.24e-4
print(a)
print(b)
print(type(a))
print(type(b))

42400.0
0.000424
<class 'float'>
<class 'float'>

### 2진수, 8진수, 16진수

In [ ]:
# 2진수
bi = 0b1010

print(bi)

In [ ]:
# 8진수
oc = 0o177

print(oc)

In [5]:
# 16진수
he = 0x177

print(he)

375

#### 숫자에서 다른 진수록 변환하기

In [8]:
# - int -> str

bi = bin(42)
oc = oct(42)
he = hex(42)
print(bi)
print(type(bi))
print(bi)
print(type(bi))
print(bi)
print(type(bi))
print(bi)
print(type(bi))

0b101010
<class 'str'>
0b101010
<class 'str'>
0b101010
<class 'str'>
0b101010
<class 'str'>

#### 다른 진수의 문자열에서 숫자형으로 변환하기

In [9]:
print(int(bi,2))

42

In [11]:
print(int(oc,8))

42

In [12]:
print(int(he,16))

42

##  사칙연산

In [13]:
a = 3
b = 4
print(a + b) #합
print(a - b) # 차
print(a * b) # 곱
print(a / b) # 나눗셈
print(a ** b) # 제곱
print(a // b) # 몫
print(a % b) # 나머지

7
-1
12
0.75
81
0
3

## 연산자의 우선순위

- 숫자를 계산할 때는 곱셈과 나눗셈이 덧셈과 뺼셈보다 우선
- 같은 우선순위를 가지는 연산자는 왼쪽에서 오른쪽순서로 계산

In [14]:
print (2 + 2 - 2 * 2 / 2 * 2)

0.0

In [15]:
# 먼저 연산하고 싶은 부분은 괄호로 표현
print((5 + 3) * 2)
print(5 + 3 * 2)

16
11

In [16]:
# 연산자 우선순위가 확실한 경우에도 명확하게 표현하기 위해 괄호를 사용하기도 함
5 + (3 * 2)

11

# 문자열 자료형(string)

- 문자열 : 글자들이 나열된 것

In [18]:
a = "Hello World!"
b= "123"
print(a)
print(type(a))
print(b)
print(type(b))

Hello World!
<class 'str'>
123
<class 'str'>

In [19]:
# 문자열 표기법
print("Hello")
print('Hello')
print("""Hello""")
print('''Hello''')

Hello
Hello
Hello
Hello

### 문자열에 따옴표 포함하기

In [23]:
# 'Ptyhon's favorite food is perl'
print("Python's favorite food is perl")
print('"Python is very easy." he says')

Python's favorite food is perl
"Python is very easy." he says

In [26]:
# 백슬래시를 이요한 방법
# \와 큰따옴표, 작은따옴표를 사용하면 문자열을 만드는 기호가 아니라 단순한 따옴표로 인식
print('Pythos\'s favorite food is perl')
print("\"Python is very easy.\" he says")

Pythos's favorite food is perl
"Python is very easy." he says

### 여러 줄인 문자열

In [27]:
lines = "Life is too shor\n Youneed python"
print(lines)

Life is too shor
 Youneed python

In [28]:
lines = '''Life is too short
You need python'''
print(lines)

Life is too short
You need python

#### 이스케이프 코드
- 특별한 의미를 가지는, 미리 정의된 문자 조합
    - \n : 줄바꿈
    - \t : 탭
    - \\\\: 역슬래시 문자열 입력

In [29]:
print("안녕하세요\t안녕하세요")

안녕하세요	안녕하세요

## 문자열 연산자

- 각각의 자료는 사용할 수 있는 연산자가 정해져 있음

### 문자열 연결 연산자
- 두 문자열을 연결해서 새로운 문자열을 만들어냄

In [30]:
# 문자열은 + 연산자로 문자열 연결 연산 적용
# 숫자 더하기 연산자와 문자열 연결 연산자 모두 + 기호를 사용하지만 완전히 다른 기능을 수행
"Hello, " + "World!"

'Hello, World!'

In [35]:
# 문자열과 숫자 사이에 문자열 연결 연산자를 사용하면 에러발생
print("안녕하세요" + 1)

TypeError: can only concatenate str (not "int") to str

In [32]:
# 안녕하세요1 을 출력할 의도라면 숫자도 문자열로 인식시켜야함
print("안녕하세요" + "1")

안녕하세요1

### 문자열 반복 연산자

- 문자열을 숫자와 * 연산자로 연결
- 문자열을 숫자만큼 반복해서 출력

In [33]:
"Hello" * 3

'HelloHelloHello'

In [34]:
3 * "Hello"

'HelloHelloHello'

### 문자열 인덱싱(indexing)

- 대괄호(문자 선택 연산자)는 문자열 내부의 문자 하나를 선택하는 연산자
- 대괄호 안에 선택할 문자의 위치(인덱스(index))를 지정
    - 파이썬은 인덱스를 0부터 셈

In [36]:
str1 = "Hello"
#       01234

In [37]:
str1[0]

'H'

In [38]:
str1[4]

'o'

In [39]:
str[-1]

TypeError: type 'str' is not subscriptable

### 문자열 슬라이싱(slicing)

- 문자열의 범위를 지정
- 대괄호 안에 위치를 콜론(:) 으로 구분해서 지정
    - 파이썬은 범위 지정 시 마지막 숫자를 포함하지 않음

In [40]:
str1[0:4]

'Hell'

In [42]:
# 대괄호 안에 넣는 숫자를 생략할 수 있음
# 생략하면 자동으로 가장 최대 위치(첫 번째 글자 또는 마지막 글자)까지 지정
str1[:4]

'Hell'

In [43]:
str1[:-1]

'Hell'

In [45]:
str1[1:5]

'ello'

In [47]:
str1[1:]

'ello'

In [48]:
str1[:]

'Hello'

## 문자열 포매팅(Formatting)

In [3]:
# 출력포맷 설정하기
a = 3
b = 4
pi = 3.141592

# 문자열 포맷 코드
print("%d + %d = %d"%(a, b, a+b))

# 문자열 포맷 코드에서 소수점 표현
print("%0.4f"%pi)

# 특정 칸에 출력하기
print("%5d"%(a))

# 빈칸을 0으로 채우기
print("%05d"%(a))

3 + 4 = 7
3.1416
    3
00003

In [8]:
# format 함수
print("{0} + {1} = {2}".format(a, b, a + b))

# 이름으로 값 넣기
print("I ate {num} apples. so I was sick for {day} days".format(num = 10, day = 3))

# 소수점 표현
print("{0:0.4f}".format(pi))

# 특정 칸에 출력하기
print("{0:5d}".format(a))

# 빈칸을 0으로 채우기
print("{0:05d}".format(a))

3 + 4 = 7
I ate 10 apples. so I was sick for 3 days
3.1416
    3
00003

In [13]:
# f-string(3.6버전부터 가능)
print(f"{a} + {b} = {a + b}")

# 소수점 표현
print(f"{pi:0.4f}")

# 특정 칸에 출력
print(f"{a:5d}")

# 빈칸을 0으로 채우기
print(f"{a:05d}")

3 + 4 = 7
3.1416
    3
00003

### 문자열 관련 함수

In [15]:
str1 = "hobby"

In [17]:
# 문자 개수 세기
str1.count("b")

2

In [18]:
# 위치 찾기1
# 검색하는 문자가 처음으로 나온 위치 반환
str1.find("b")

2

In [19]:
# 검색하는 문자가 존재하지 않는 경우 -1을 반환
str1.find("a")

-1

In [20]:
# 위치 찾기2
str1.index("b")

2

In [21]:
# 검색하는 문자가 존재하지 않는 경우 에러 발생
str.index("a")

TypeError: index() takes at least 1 argument (0 given)

In [23]:
# 문자열 삽입
",".join("abcd")

'a,b,c,d'

In [24]:
",".join(["a", "b", "c", "d"])

'a,b,c,d'

In [25]:
# 대소문자 변환
print("hello".upper())
print("HELLO".lower())

HELLO
hello

In [26]:
# 공백 제거
" hello ".strip()

'hello'

In [27]:
# 문자열 치환
str1 = "pithon"
str1.replace("i", "y")

'python'

In [29]:
# 문자열 나누기
str1 = "Life is too short"
str1.split()

['Life', 'is', 'too', 'short']

In [30]:
str2 = "a:b:c:d"
str2.split(":")

['a', 'b', 'c', 'd']

In [31]:
# 문자열의 길이 구하기
print(len("안녕하세요"))

5

# 불 자료형(Boolean)

- 참(True)과 거짓(False)을 나타내는 자료형
    - 어떤 명제의 결과를 표현
- 불린 또는 불리언 이라는 발므으로 부름
    - 프로그래밍에서는 짧게 Bool 이라고 쓰기도 함

In [35]:
a = True
b = False

print(a)
print(type(a))
print(b)
print(type(b))

True
<class 'bool'>
False
<class 'bool'>

## 불 연산

### 비교 연산자

- == : 같다
- != : 다르다
- >, < : 크다, 작다
- =>, <= : 크거나 같다, 작거나 같다

In [36]:
1 == 1

True

In [37]:
1 != 1

False

In [38]:
2 > 1

True

In [39]:
2 < 1

False

In [40]:
1 < 2 < 3

True

In [41]:
2 >= 1

True

In [42]:
2 <= 1

False

In [45]:
# 문자열에 비교 연산자를 적용하면 한글은 사전순서로 앞에 있는 것이 작은 값을  가짐
print("가방" < "하마")
print("가방" > "하마")

True
False

###  타입 변환

In [46]:
bool("python")

True

In [47]:
bool("")

False

In [48]:
bool(0)

False

In [49]:
int(True)

1

In [50]:
int(False)

0

### 논리 연산자
- not : 불을 반대로 반환
- and : 두 값이 모두 참일 때 True를 출룍하고, 그 왜에는 모두 false를 출력
- or : 두 값 중 하나만 참이어도 True를 출력하고, 두 개가 모두 거짓일 때만 False를 출력

In [51]:
print(not True)
print(not False)

False
True

In [52]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [53]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

## 연습문제

In [61]:
# 1. 자연수를 입력받아 홀수인지 짝수인지 판별하기
# 홀수는 False, 짝수는 True
num = 13

print(num % 2 == 0)

False

In [64]:
# 2. 주민등록번호에서 생년월일, 성별 추출하기
hong = "881220-1068234"
print(f"생년월일 {hong[:6]}")
print(f"성별 {hong[7]}")

생년월일 881220
성별 1

In [92]:
# 3. 비밀번호 만들기
# 사이트별로 아래의 규칙에 따라 비밀번호를 생성하는 코드를 작성하기
# 사이트 주소 예시 : "http://naver.com", "http://daum.net", "http://google.com", 
#                    "http://youtube.com"

# 규칙1 : http:// 부분은 제외한다
# 규칙2 : 처음 만나는 점(.) 이후 부분도 제외한다.
# 규칙3 : 남은 글자중 처음 세 자리 + 글자 개수 + 글자내 "e"의 개수 + "!" 로 비밀번호를 구성한다.
# 규칙에 따라 "http://naver.com" 의 비밀번호를 생성하면 nav51! 가된다.
addr = "http://youtube.com"
#addr = addr.replace("http://","")
addr = addr[addr.find("://")+3:]
addr = addr[:addr.find(".")]
password = addr[:3] + str(len(addr)) + str(addr.count("e")) + "!"
print(password)

you71!