# 파이썬과 MySQL의 연동

- pymysql 라이브러리를 이용하면 파이썬과 MySQL을 연동하는 데이터베이스 연동 프로그램을 작성할 수 있음

## 파이썬에서 데이터 입력

1. mysql 연결하기
    - 연결자 = pymysql.connect(연결 옵션)    

2. 커서 생성하기
    - 커서이름 = 연결자.cursor()
    
3. 테이블 만들기
    - 커서이름.execute("CREATE TABLE 문장")
    
4. 데이터 입력하기
    - 커서이름.execute("INSERT 문장")
    
5. 입력한 데이터 저장하기
    - 연결자.commit()
    
6. mysql연결 종료하기
    - 연결자.close()

### mysql연결

```
pymysql.connect(host = 서버IP주소, user = 사용자, password = 암호, db = 데이터베이스, charset = 문자세트, port = 포트번호)
```

In [1]:
import pymysql

In [3]:
conn = pymysql.connect(host ='127.0.0.1', user = "root", password = "0000", db = "market_db")

- conn : 연결자를 의미하는 connection의 약자
    - 관급적으로 conn 또는 con 이라는 변수명을 사용함

### 커서 생성

- 커서(cursor) : 데이터베이스에 sql문을 실행하거나 실행된 결과를 받는 통로
- 커서는 앞 단계에서 연결한 연결자에 만들어야 함

In [4]:
cur = conn.cursor()

### 테이블 생성

- 테이블을 생성하는 sql문을 커서이름.execute() 함수의 매개변수로 전달

In [5]:
cur.execute("""
    CREATE TABLE userTable (
        ID        CHAR(4),
        userNmae  CHAR(15),
        email     CHAR(20),
        birthYear INT        
    )
""")

0

### 데이터 입력

In [6]:
sql = """
INSERT INTO userTable VALUES ('hong', '홍지윤', 'hong@naver.com', 1996),
('kim', '김태연', 'kim@daum.com', 2011)
"""

In [7]:
cur.execute(sql)

2

### 입력한 데이터 저장

- 앞 단계에서 입력한 데이터가 아직 데이터베이스에 완전히 반영되지 않았음
- 현재까지의 입력데이터를 완전히 데이터베이스에 반영하는 것을 커밋(commit)이라고 함

In [9]:
conn.commit()

### 연결 종료

- 데이터베이스 사용 후에는 연결자를 닫아줘야함

In [10]:
conn.close()

# 연동 프로그래밍 활용

In [11]:
conn = pymysql.connect(host ='127.0.0.1', user = "root", password = "0000", db = "market_db")

cur = conn.cursor()

user_id = input("사용자 ID : ")
user_name = input("사용자 이름 : ")
user_email = input("사용자 이메일 : ")
user_birth = input("사용자 출생연도 : ")

sql = f"""
    INSERT INTO userTable VALUES 
    ('{user_id}', '{user_name}', '{user_email}', {int(user_birth)})
"""

cur.execute(sql)

conn.commit()
conn.close()

사용자 ID : star
사용자 이름 : 별사랑
사용자 이메일 : star@naver.com
사용자 출생연도 : 1990

## 데이터 조회

1. mysql 연결하기
    - 연결자 = pymysql.connect(연결 옵션)    

2. 커서 생성하기
    - 커서이름 = 연결자.cursor()
    
3. 테이블 만들기
    - 커서이름.execute("CREATE TABLE 문장")

4. 조회한 데이터 출력
     커서이름.fetchone()
     커서이름.fetchall
     커서이름.fetchmany()
    
6. mysql연결 종료하기
    - 연결자.close()
    
- 조회된 데이터를 입력이나 반영하는 것이 아니므로

In [24]:
conn = pymysql.connect(host ='127.0.0.1', user = "root", password = "0000", db = "market_db")
cur = conn.cursor()

cur.execute("SELECT * FROM  userTable")

print("사용자ID\t사용자이름\t이메일\t출생연도")
print("-" * 40)

while True:
    row = cur.fetchone()
    
    if row == None:
        break
        
    print(f"{row[0]}\t{row[1]}\t{row[2]}\t{row[3]}")
conn.close()

사용자ID	사용자이름	이메일	출생연도
----------------------------------------
hong	홍지윤	hong@naver.com	1996
kim	김태연	kim@daum.com	2011
star	별사랑	star@naver.com	1990

In [25]:
conn = pymysql.connect(host ='127.0.0.1', user = "root", password = "0000", db = "market_db")
cur = conn.cursor()

cur.execute("SELECT * FROM  userTable")

print("사용자ID\t사용자이름\t이메일\t출생연도")
print("-" * 40)


row = cur.fetchall()
    
for i in row:
    print(f"{i[0]}\t{i[1]}\t{i[2]}\t{i[3]}")
conn.close()

사용자ID	사용자이름	이메일	출생연도
----------------------------------------
hong	홍지윤	hong@naver.com	1996
kim	김태연	kim@daum.com	2011
star	별사랑	star@naver.com	1990

## with문 활용

In [26]:
with pymysql.connect(host ='127.0.0.1', user = "root", 
                     password = "0000", db = "market_db") as conn:
    with conn.cursor() as cur:
        cur.execute("select * from userTable")
        print("사용자ID\t사용자이름\t이메일\t출생연도")
        print("-" * 40)
        
        row = cur.fetchall()    
        for i in row:
            print(f"{i[0]}\t{i[1]}\t{i[2]}\t{i[3]}")

사용자ID	사용자이름	이메일	출생연도
----------------------------------------
hong	홍지윤	hong@naver.com	1996
kim	김태연	kim@daum.com	2011
star	별사랑	star@naver.com	1990