In [1]:
# 1. 1부터 1000까지의 3의 배수의 합 구하기
tot = 0
for i in range(1,1001):
    if i % 3 == 0:
        tot += i        
tot

tot = 0
for i in range(0,1001,3):
    tot += i
    
tot

166833

In [2]:
# 2. 계단식으로 별 출력하기 (첫 줄에는 * 1개, 두번째 줄에는 * 2개, ... 다섯번째 줄에 * 5개)
# *
# **
# ***
# ****
# *****

for i in range(1,6):
    print("*" * i)

*
**
***
****
*****

In [3]:
for i in range(1,6):
    for j in range(1,6):
        if i >= j:
            print("*", end="")
    print("")

*
**
***
****
*****

In [4]:
# 3. 1부터 10까지의 자연수 중 홀수만 2를 곱해서 리스트로 저장하기

result = [i * 2 for i in range(1, 11) if i % 2 == 1]
result

[i * 2 for i in range(1, 11, 2)]

[2, 6, 10, 14, 18]

In [5]:
result = []

for i in range(1, 11):
    if i % 2 == 1:
        result.append(i * 2)
result

[2, 6, 10, 14, 18]

In [6]:
result = []

for i in range(1, 11, 2):
    result.append(i * 2)
    
result

[2, 6, 10, 14, 18]

In [7]:
# 4. 화폐매수 구하기

a = 167800 # 원 => 50000:3, 10000:0, 5000:1 .....
b = [50000, 10000, 5000, 1000, 500, 100, 50, 10]

for money in b:
    print(f"{money} - {int((a - a % money) / money)}")
    a %= money

50000 - 3
10000 - 1
5000 - 1
1000 - 2
500 - 1
100 - 3
50 - 0
10 - 0

In [8]:
a = 167800 # 원 => 50000:3, 10000:0, 5000:1 .....
b = [50000, 10000, 5000, 1000, 500, 100, 50, 10]

for money in b:
    print(f"{money} - {a // money}")
    a -= a // money * money

50000 - 3
10000 - 1
5000 - 1
1000 - 2
500 - 1
100 - 3
50 - 0
10 - 0

In [12]:
# 5. name과 data를 각각 리스트에 담기

q5 = [{"name":"y1","data":"123"},{"name":"y2","data":"234"}]

name = []
data = []

for value in q5:
    name.append(value["name"])
    data.append(value["data"])
#     print(value["name"],value["data"])
# i=0
# while i < len(name):
#     print(name[i],data[i])
#     i+=1
for i in range(len(name)):
    print(name[i],data[i])

for i in zip(name, data):
    print(i[0], i[1])

y1 123
y2 234
y1 123
y2 234

In [17]:
# 6. id, name, age를 각각 리스트에 담고 각각의 요소들을 짝지어 출력하기
q6 = {"ret":{"id":"a386","name":"123","age":34},"ret1":{"id":"a383","name":"123","age":36}}

id_list = []
name = []
age = []
for data in q6:
    id_list.append(q6[data]["id"])
    name.append(q6[data]["name"])
    age.append(q6[data]["age"])

for i in zip(id_list, name, age):
    print(i[0],i[1],i[2])

a386 123 34
a383 123 36

In [25]:
# 7. id, name, age를 각각 리스트에 담고 각각의 요소들을 짝지어 출력하기
q7 = {
    "ret":[
        {"id":"a2001","name":"123","age":34},
        {"id":"a2002","name":"123","age":54},
        {"id":"a2003","name":"123","age":36},
        {"id":"a2004","name":"123","age":38}],
    "ret1":[
        {"id":"a2005","name":"123","age":17},
        {"id":"a2006","name":"123","age":52},
        {"id":"a2007","name":"123","age":33}]
      }

id_list = []
name = []
age = []

for data_list in q7:
    for data in q7[data_list]:
        id_list.append(data["id"])
        name.append(data["name"])
        age.append(data["age"])

for i in zip(id_list, name, age):
    print(i[0], i[1], i[2])

ret1
a2001 123 34
a2002 123 54
a2003 123 36
a2004 123 38
a2005 123 17
a2006 123 52
a2007 123 33